
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER PROFILE</title>
    <style>
        p{
          text-align: center;

            /* margin-top: 5%; */
            /* border: 2px solid black; */
            /* border-collapse: collapse; */
        }
        th{
            background-color: cornsilk;
        }
    </style>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg " id="yellow" data-bs-theme="blue">
          
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#contact">contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'user_profile' %}">profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{% url 'view_cart' %}">Cart</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="{% url 'searchview' %}" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    
        {% for i in data %}
          <div>
            <p>{{ i.username }}</p>
            <p>{{ i.first_name }}</p>
            <p>{{ i.last_name }}</p>
            <p>{{ i.password }}</p>
            <p>{{ i.user_address }}</p>
            <p>{{ i.user_phone }}</p>
          </div>
        {% endfor %}
   
    <button><a href="{% url 'userlogout' %}">Logout</a></button>
</body>
</html>